html, body
    line-height: 1
    font-weight: 100px
    font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetical-Light', 'arial', 'sans-serif'
// 清除浮动
.clearFix
    *zoom: 1
    &:after
        content: ""
        display: block
        clear: both
        visibility: hidden
        height: 0
// 显示省略号
.ellipsis
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap